

<section class="registration-landing-section">

    <div class="navigation">
        <div class="navi">
            <a href="{{backToPetition}}" class="BackToPetition"><h4>Back to Petition</h4></a>
        </div>
    </div>


<div class="formaction">

    <h2>Edit your profile</h2>

    <form method="POST">
    {{#UserProfile}}
    <h3>First Name</h3>
    <input type="text" name="first_name" placeholder="first name" value={{first}} class="inputfield"></input>
    <h3>Last Name</h3>
    <input type="text" name="last_name" placeholder="last name" value={{last}} class="inputfield"></input>
    <h3>Email</h3>
    <input type="text" name="email" placeholder="email address" value={{email}} class="inputfield"></input>
    <h3>Age</h3>
    <input type="number" name="age" placeholder="age" value={{age}} class="inputfield"></input>
    <h3>City</h3>
    <input type="text" name="city" placeholder="city" value={{city}} class="inputfield"></input>
    <h3>Homepage</h3>
    <input type="text" name="homepage" placeholder="homepage" value={{homepage}} class="inputfield"></input>
    <h3>Password</h3>
    <input type="password" name="password" placeholder="password" class="inputfield"></input>

    {{/UserProfile}}
    <!-- <div class="warning {{#if warning}}on {{/if}}">
        <p>There's something missing</p>
    </div> -->

    <a href="{{delete}}" class="DeleteSignatureInEdit"><h3>Delete Signature</h3></a>

    <br><br><br>
    <button id="edit-btn" type="submit" class="submitButton">Save Edit</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

</div>




</section class="registration-landing-section">
