<title>{{Title}}</title>

<h1>Hello to my Petition Page for Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.!</h1>


<img src="/" alt="Picture" class="MainPicture">

<div class="warning {{#if warning}}on {{/if}}">
    <p>There's something missing</p>
</div>

    <form method="POST">
    <div id="SignatureFieldValue">
            <input title="ValueCanv" type="hidden" name="input">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <canvas id="SignatureCanvas" width="600" height="100" style="border:1px solid #000000;"></canvas>


        <h5>Your Signature</h5>

        <button type="submit" name="submit_button">Submit</button>
        <a href="{{editProfile}}"><h1>EditProfile</h1></a>
        <a href="{{logout}}"><h1>Logout</h1></a>
        <a href="{{delete}}"><h1>Delete Signature</h1></a>

    </div>
    </form>
