

<section class="registration-landing-section">
    <div class="navigation">
        <div class="navi">

                <a href="{{delete}}"><h4>Delete Signature</h4></a>
        <a href="{{editProfile}}"><h4>Edit Profile</h4></a>
        <a href="{{logout}}"><h4>Logout</h4></a>
        </div>
    </div>

<div class="formaction">
    <h1>This Petition was signed by {{NumberOfSigners}} Full Stack Developers.</h1>
    <h2>List of people who signed: </h2>
    <div class="nameEntries">
        {{#NamesEntries}}

        <div class="listSigned">

            <p>
        {{#if homepage}}<a href="{{homepage}}" target="_blank">{{first}} {{last}}</a>{{/if}}
        {{#if age}}, {{age}},{{/if}}
        {{#if city}}<a href="/petition/signers/{{city}}">{{city}}</a>{{/if}}</p>
        </div>


        {{/NamesEntries}}
        </div>
    </div>

    <a href="{{redirect}}" class="showSignatures"><h4>Show signatures</h4></a>








</section>
