<h1>Thank you {{name}} for signing our petition to make life easier!</h1>
<img src="{{image}}">

{{#NamesEntries}}

<h1>This Petition was signed by {{count}} people.</h1>

{{/NamesEntries}}



<a href="{{redirect}}"><h1>Show signatures</h1></a>
        <a href="{{delete}}"><h1>Delete Signature</h1></a>
<a href="{{editProfile}}"><h1>EditProfile</h1></a>
<a href="{{logout}}"><h1>Logout</h1></a>
