
<div class="padding">
<h1>Thank you {{name}} for signing our petition!</h1>
<img src="DMbJOcXWkAEVZRW.jpg_large" alt="Bug">
<img class= "signatureshow" src="{{image}}">

{{#NamesEntries}}

<h1>The Petition was signed by {{count}} people.</h1>

{{/NamesEntries}}



<div class="navi">
<a href="{{redirect}}"><h4>Show signatures</h4></a>
        <a href="{{delete}}"><h4>Delete Signature</h4></a>
<a href="{{editProfile}}"><h4>EditProfile</h4></a>
<a href="{{logout}}"><h4>Logout</h4></a>
</div>
</div>
